.task-panel {
  max-height: 370px;
  overflow-y: auto;

  &__task {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  &__create {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
  }

  &__button {
    margin-right: 2rem;
  }
}
