.task {
  &__dropdowns {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  &__slider {
    margin-top: 2rem;
  }
}
