.status-bar {
  display: flex;
  align-items: center;
  height: 3rem;
  background: $light-grey;

  &__title {
    display: inline-block;
    width: 60%;
  }

  &__warning {
    margin-right: 1rem;
  }

  &__clock {
    display: inline-block;
    margin-right: 3rem;
  }

  &__profile {
    display: inline-block;
  }
}
