.measure-table {
  background: $light-grey;

  &__wrapper {
    padding: 1rem;
  }

  &__measure {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  &__name {
    width: 12rem;
    margin-right: 1rem;
  }

  &__value {
    margin-right: 0.25rem;
  }

  &__unit {
  }
}
