.chart-header {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0;
    width: auto;
    height: auto;
  }

  &__title {
    margin-right: 0.5rem;
  }

  &__select {
    margin-right: 0.5rem;
  }

  &__angle {
    margin-right: 0.5rem;
  }

  &__icon {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
