.composite-chart {
  &__previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 580px;
  }

  &__chart {
    padding: 1.2rem;
  }

  &__chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  &__table {
    width: 530px;
  }
}

@media screen and (max-width: 1200px) {
}
