.history-form {
  &__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 37rem;
  }

  &__date-container {
    margin-right: 1rem;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
