.measurements {
  display: flex;

  &__form {
    display: inline-block;
    width: 23rem;
  }

  &__input {
    padding: 1rem;
    text-align: center;
  }

  &__info {
    display: flex;
  }

  &__results {
    margin-left: 2.5rem;
  }

  &__chart {
    @extend %unselectable;
    min-width: 400px;
    min-height: 200px;
    width: 500px;
    height: 325px;
    padding: 1.2rem;
    background: $light-grey;
    resize: both;
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .measurements {
    display: block;

    &__form {
      margin-bottom: 3rem;
    }
  }
}
