.device-info {
  &__wrapper {
    padding: 0.5rem;
    background: $pale-green;
    border: 0.05rem solid $dark-grey;

    &_error {
      background: $danger;
    }
  }

  &__chart {
    margin-left: 1.2rem;
  }

  &__title {
    font-size: 0.9rem;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
  }

  &__tab-content {
    display: flex;
    background: white;
    padding: 1rem;
  }

  &__info-item {
    padding: 0.25rem;

    &_invalid {
      .device-info__info-value {
        color: red;
      }
    }
  }

  &__info-title {
    display: inline-block;
    width: 9.5rem;
  }
}
