.info-modal {
  &__row {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    @include collapse-border($black);
    padding: 0.7rem;
    padding-top: 0.9rem;

    &_warning {
      color: red;
    }
  }
}
