.tab-container {
  &__tabs {
    padding-left: 2rem;
    border-bottom: 0.05rem solid $dark-grey;
  }

  &__tab {
    @extend %unselectable;
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: center;
    background: $light-grey;
    padding: 0.25rem 0.5rem;
    min-width: 5rem;
    border: 0.05rem solid $dark-grey;
    border-left: none;
    border-bottom: none;
    box-shadow: 0 1px 1px -1px $dark-grey;

    &:first-child {
      border-left: 0.05rem solid $dark-grey;
    }
  }

  &__body {
    border: 0.05rem solid $dark-grey;
    border-top: none;
  }
}
