.status-bar {
  background: $light-grey;
  height: 3rem;
  display: flex;
  align-items: center;

  &__title {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 62%;
    margin-left: 9rem;
  }

  &__warning {
    margin-right: 1rem;
  }

  &__clock {
    display: inline-block;
    margin-right: 3rem;
  }

  &__profile {
    display: inline-block;
  }
}
