.distance-input {
  &__wrapper {
    display: flex;
    max-width: 22rem;
  }

  &__row {
    margin-bottom: 0.5rem;
  }

  &__column {
    width: 50%;
  }

  &__title {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }

  &__inputs {
    display: flex;
  }

  &__input {
    width: 3.5rem;
  }

  &__units {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  &__result {
    padding-left: 1.5rem;
    text-align: center;
    margin-bottom: 3.3rem;
  }

  &__distance {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}
