.history-form {
  &__date-container {
    margin-top: 0.5rem;
  }

  &__datepickers {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__datepicker {
    margin-right: 1rem;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
