.button {
  cursor: pointer;
  background: $white;
  padding: 0.5rem;
  border: 0.15rem solid $black;
  outline: none;

  &:hover {
    background: $light-grey;
  }

  &:active {
    background: $white;
  }
}
