.history-panel {
  &__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__select {
    display: flex;
    justify-content: center;
  }

  &__select-container {
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
}
