.map-popup {
  &__wrapper {
    padding: 0.25rem;
  }

  &__select {
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    border: none;
    outline: none;
  }

  &__row {
    padding: 0.1rem;
    display: flex;
  }

  &__row-name {
    display: inline-block;
    min-width: 4.25rem;
  }

  &__numbers {
    display: inline-block;
  }

  &__difference {
    color: red;
  }
}
