.fullscreen-button {
  position: absolute;
  left: 0.6rem;
  top: 5rem;
  z-index: 2;
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.23);
}

.map-history-dates {
  position: absolute;
  left: 0.6rem;
  top: 8rem;
  z-index: 2;
}

.map-real-time {
  margin-top: 0.5rem;
}
